<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ALMOST THERE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

           BEHIND THE SCENES – ALMOST THERE            <br/>
              Your piece is almost finished, Saad.          <br/>
                 We wanted to let you know that your piece came out of casting smoothly and is currently being hand-polished to perfection. This is the final step before it’s on its way to you. Start getting excited.       <br/>
                Reminder: your item should be ready by DATE       <br/>
                       <br/>

</body>
</html>