<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PRODUCTION HAS STARTED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    BEHIND THE SCENES – PRODUCTION HAS STARTED <br/>
             Your piece is being casted, Saad.           <br/>
           We just wanted to send you a quick status update, in case you’d like to know what’s going on behind the scenes. Your piece is currently being casted by our team of master jewelers right here in NYC. They’re working hard on getting your piece exactly the way you want it.            <br/>
            Reminder: your item should be ready by DATE           <br/>
                       <br/>
                       <br/>
                       <br/>
                       <br/>
                       <br/>

</body>
</html>